.hero-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 11;
    .d-sm-none {
      @media (max-width: 468px) {
        display: none !important;
      }
    }
    .d-sm-block {
      @media (max-width: 468px) {
        display: block !important;
      }
    }
    .d-md-none {
      @media (min-width: 469px) {
        display: none !important;
      }
    }
    .d-md-block {
      @media (min-width: 469px) {
        display: block !important;
      }
    }
    .container {
      transform: translateY(35px);
    }
    h1 {
      //font-size: 180px;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      row-gap: 50px;
      .o-wrapper {
        overflow: hidden;
        position: relative;
        display: block;
        .transform {
          display: block;
          transform: translateY(100%) rotate(0deg);
          transform-origin: left;
          &.second {
            span.line-bar {
              position: absolute;
              width: 0%;
              left: -10px;
              height: 10px;
              top: calc(50% + 0px);
              transform: translateY(-50%);
              background-color: var(--color2);
              z-index: 11;
            }
          }
        }
      }
      div {
        width: 100%;
        &:nth-child(2) {
          display: flex;
          justify-content: space-between;
          > span.o-wrapper {
            display: flex;
            align-items: flex-start;
          }
          span {
            position: relative;
            span.o-wrapper {
              margin: 20px 0 0 30px;
              display: flex;
              span.informations {
                letter-spacing: -0.4px;
                font-size: 18px;
                line-height: 1;
                transform: translateY(100%) rotate(0deg);
                transform-origin: left;
              }
            }
          }
        }
        &:nth-child(4) {
          text-align: right;
          padding-right: 70px;
          display: flex;
          justify-content: space-between;
          span.images {
            width: 240px;
            //height: 140px;
            margin-top: 10px;
            position: relative;
            overflow: hidden;
            opacity: 0;
          }
        }
      }
    }
    span.line {
      opacity: 0;
      width: calc(100% - 60px);
      height: 1px;
      position: absolute;
      bottom: 30px;
      left: 30px;
      background-color: var(--color2);
      transform-origin: right; /* Origine de la transformation à gauche */
      transform: scaleX(1); 
      @media (max-width: 468px) {
        width: calc(100% - 30px);
        left: 15px;
      }
    }
    @media (max-width: 992px) {
      h1 {
        row-gap: 30px;
      }
    }
    @media (max-width: 468px) {
      h1 {
        row-gap: 15px;
        .o-wrapper .transform.second span.line-bar {
          height: 6px;
        }
        div:nth-child(4) span.images {
          display: none;
        }
        div:nth-child(2) {
          flex-wrap: wrap;
          > span.o-wrapper:last-child {
            display: block;
          }
        }
        div:nth-child(4) {
          justify-content: flex-end;
          padding-right: 0;
        }
      }
    }
  } 