.issues-project {
  .flex-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    .title-wrapper {
      width: 320px;
      max-width: 100%;
      span {
        opacity: 0.6;
      }
    }
    .content-wrapper {
      width: 820px;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      .step-wrapper {
        padding: 3rem 0 3rem 240px;
        position: relative;
        overflow: hidden;
        border-bottom: 1px solid rgba(17, 15, 9, 0.1);
        .index {
          position: absolute;
          left: 0;
          bottom: -34px;
          font-size: 130px;
          line-height: 1;
          font-weight: 500;
          font-family: var(--font2);
          letter-spacing: -4px;
        }
        .step-title {
          font-size: 30px;
          line-height: 1.2;
          font-weight: 500;
          margin-bottom: 1rem;
        }
        .step-description {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .issues-project {
    .flex-wrapper {
      flex-direction: column;
      .content-wrapper {
        .step-wrapper {
          padding: 3rem 0 3rem 320px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .issues-project {
    .flex-wrapper {
      gap: 0;
      .content-wrapper {
        .step-wrapper {
          padding: 50px 0 100px 0px;
          .index {
            bottom: -24px;
            font-size: 110px;
          }
          .step-title {
            font-size: 26px;
          }
        }
      }
    }
  }
}
