.loader {
    height: 100vh;
    width: 100vw;
    background-color: #000;
    position: fixed;
    z-index: 111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container-xl {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        overflow: hidden;
        .counter-wrapper {
            margin: 0 auto;
            position: relative;
            overflow: hidden;
            .counter {
                color: #fff;
                font-family: var(--font2);
                font-size: 140px;
                @media (max-width: 768px) {
                    font-size: 100px;  
                }
            }
        }
        .progress-wrapper {
            background-color: rgba($color: #fff, $alpha: 0.6);
            margin-top: 60px;
            width: 100%;
            height: 1px;
            position: relative;
            transform-origin: top right;
            .progress-line {
                position: absolute;
                left: 0;
                top: 0;
                width: 0%;
                height: 1px;
                background-color: #fff;
            }
        }
    }
}