header {
    position: fixed;
    top: 30px;
    left: 30px;
    width: calc(100% - 60px);
    z-index: 11;
    @media (max-width: 992px) {
        width: calc(100% - 30px);
        left: 15px;
    }
    nav {
        display: flex;
        justify-content: space-between;
        .logo {
            font-size: 22px;
        }
        .contact-link {
            text-transform: uppercase; 
            padding-bottom: 2px;
            position: relative;
            &:after {
                content: "";
                display: block;
                height: 1px;
                left: 0;
                margin-top: 3px;
                position: absolute;
                transform: scaleX(0);
                transform-origin: top right;
                transition: transform .3s ease;
                width: 100%;
                background-color: #fff;
            }
            &:hover:after {
                transform: scaleX(1);
                transform-origin: top left;
            }
        }
    }
}