.next-project {
  padding-bottom: 13rem;
  .projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .project {
      width: 100%;
      .project-inner {
        padding: 2.5rem 0;
        border-bottom: 1px solid rgba(#110f09, $alpha: 0.1);
        font-family: var(--font2);
        letter-spacing: -2px;
        font-weight: 500;
        line-height: 1;
        font-size: 4rem;
        //text-transform: uppercase;
        text-align: center;
        position: relative;
        transition: color 0.45s cubic-bezier(0.4, 0, 0.2, 1);
        will-change: color;
        .background {
          position: absolute;
          width: 100vw;
          height: 100%;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%) scaleY(0);
          background-color: var(--color2);
          z-index: -1;
          transition: 0.45s transform cubic-bezier(0.4, 0, 0.2, 1);
          transform-origin: top;
          will-change: transform;
        }
        &:hover {
          color: var(--color1);
          .background {
            transform: translateX(-50%) scaleY(1);
          }
        }
      }
    }
  }
}
