.presentation {
  position: relative;
  padding-top: 262px;
}
@media (max-width: 462px) {
  .presentation {
    padding-top: 0;
  }
}
.presentation .container {
  position: relative;
}
.presentation .container .presentation-wrapper {
  width: 100%;
  position: relative;
}
.presentation .container .toggler {
  cursor: pointer;
}
.presentation .img-wrapper {
  width: 250px;
  aspect-ratio: 250/320;
  position: absolute;
  overflow: hidden;
  top: 0;
  transform: translateY(-262px);
  border-radius: 4px;
}
.presentation .img-wrapper img {
  border-radius: 4px;
  -webkit-clip-path: inset(0 0 100% 0);
  clip-path: inset(0 0 100% 0);
  transform: scale(1.2);
  will-change: transform;
  transition: -webkit-clip-path 1.2s cubic-bezier(0.4, 0, 0.2, 1), transform 1.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-clip-path 1.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: clip-path 1.2s cubic-bezier(0.4, 0, 0.2, 1), transform 1.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: clip-path 1.2s cubic-bezier(0.4, 0, 0.2, 1), transform 1.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-clip-path 1.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: clip-path 1.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-clip-path 1.2s cubic-bezier(0.4, 0, 0.2, 1), transform 1.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.presentation .img-wrapper img.view {
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  transform: scale(1);
}
@media (min-width: 1780px) {
  .presentation .img-wrapper {
    width: 280px;
    transform: translateY(-292px);
  }
}
.presentation div.text-wrapper {
  font-family: Inter;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@supports (-webkit-hyphens: none) and (not (-moz-appearance: none)) {
  .presentation div.text-wrapper {
    font-size: 56px;
  }
}
.presentation div:not(.arrow-span) span.spacer {
  display: inline-block;
  width: 300px;
}
.presentation div:not(.arrow-span) .line-wrapper:first-child .line .word:first-child {
  opacity: 0;
}
.presentation div:not(.arrow-span) .line-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
}
.presentation div:not(.arrow-span) .line-wrapper .line {
  display: inline-block;
  transform-origin: left;
}
.presentation div:not(.arrow-span).text-wrapper.first .line-wrapper .line {
  transform: translateY(100%) rotate(5deg);
}
.presentation div:not(.arrow-span).text-wrapper.second .line-wrapper .second {
  transform: translateY(0%) rotate(0deg);
}
.presentation .text-wrapper.second {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.presentation .arrow-link {
  margin: 90px 0 0 auto;
}
.presentation .toggler-wrapper {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  top: -420px;
  right: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.presentation .toggler-wrapper button.toggler {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.15s linear;
  border: none;
}
.presentation .toggler-wrapper button.toggler::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: var(--color2);
  border-radius: 50%;
  transition: transform 0.15s linear;
}
.presentation .toggler-wrapper button.toggler span {
  font-weight: 600;
  display: block;
  font-style: italic;
  font-family: var(--font2);
  text-align: center;
  color: var(--color1);
  font-size: 20px;
  z-index: 11;
}
@media (min-width: 1780px) {
  .presentation span:not(.arrow-span) {
    font-size: 66px;
  }
}
@media (max-width: 992px) {
  .presentation span:not(.arrow-span) {
    font-size: 40px;
  }
  .presentation .img-wrapper {
    width: 170px;
    transform: translateY(-178px);
  }
}
@media (max-width: 468px) {
  .presentation span:not(.arrow-span) {
    font-size: 30px;
  }
  .presentation span.text-wrapper .line-wrapper:first-child .word:first-child {
    display: none;
  }
  .presentation .images-wrapper {
    position: relative;
    top: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 4px;
  }
  .presentation .images-wrapper .img-wrapper {
    height: 210px;
    transform: none;
  }
  .presentation .images-wrapper .img-wrapper.first {
    position: relative;
  }
  .presentation .text-wrapper.second {
    top: 225px;
  }
  .presentation div:not(.arrow-span) .line-wrapper:first-child .line .word:first-child {
    display: none;
  }
  .presentation .arrow-link.cs-scale {
    margin: 45px 0 0 auto;
  }
}
/*# sourceMappingURL=presentation.css.map */