.process {
  .title-wrapper {
    position: relative;
    overflow: hidden;
    svg {
      display: block; /* évite le petit espace inline */
      width: 100%;
      height: auto;
      transform: translateY(30%);
      will-change: transform;
    }
  }
  .step-wrapper {
    position: relative;
    padding-top: 75px; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    + .step-wrapper {
      margin-top: 90px;
    }
    span.line {
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 1px;
      background-color: var(--color2);
    }
    .flex-wrapper {
      display: flex;
      align-items: flex-end;
      gap: 30px;
      .index {
        font-size: 14px;
        margin-bottom: 11px;
        @media (min-width: 1780px) {
          font-size: 16px;
          margin-bottom: 11px;
        }
      }
      .step-title {
        font-size: 2.75rem;
        letter-spacing: -2px;
      }
    }
    .step-description {
      font-size: 20px;
      width: 60%;
      max-width: 60%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media (min-width: 1780px) {
        font-size: 24px;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          position: relative;
          padding-left: 15px;
          + li {
            margin-top: 12px;
          }
          &::before {
            content: "";
            position: absolute;
            left: 2px;
            top: 10px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: var(--color2);
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .process {
    .step-wrapper {
      flex-direction: column;
      gap: 30px;
      .flex-wrapper .index {
        margin-bottom: 6px;
      }
      .step-description {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 468px) {
  .process {
    .step-wrapper {
      padding-top: 35px;
      + .step-wrapper {
        margin-top: 50px;
      }
      .flex-wrapper {
        gap: 15px;
        .index {
          margin-bottom: 7px;
        }
        .step-title {
          font-size: 40px;
        }
      }
    }
  }
}
