.project-content {
    padding: 150px 0 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .introduction {
        color: rgba($color: #fff, $alpha: 0.6);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        width: 200px;
        margin: 0 auto;
    }
    span.divider {
        height: 100px;
        width: 1px;
        background-color: rgba($color: #fff, $alpha: 0.6);
        margin: 25px auto 85px;
    }
    .description {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        width: 650px;
        max-width: 100%;
        margin: 0 auto;
        .line-wrapper {
            display: block;
            overflow: hidden;
            .line {
                display: block;
                transform: translateY(100%);
                will-change: transform;
            }
        }
    }
}