.projects {
    margin-top: -400px;
    //background-color: var(--color1);
    .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .column {
            width: 27%;
            &:nth-child(2) {
                margin-top: 180px;
            }
            a {
                width: 100%;
                display: block;
                &:nth-child(n+2) {
                    margin-top: 180px;
                }
                figure {
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    aspect-ratio: 250 / 320;
                    img {
                        -webkit-clip-path: inset(0 0 100% 0);
                        clip-path: inset(0 0 100% 0);
                        transform: scale(1.2); 
                        will-change: transform;
                        transition: -webkit-clip-path 1.2s cubic-bezier(0.4,0,0.2,1), transform 1.2s cubic-bezier(0.4,0,0.2,1);
                        transition: clip-path 1.2s cubic-bezier(0.4,0,0.2,1), transform 1.2s cubic-bezier(0.4,0,0.2,1);
                        transition: clip-path 1.2s cubic-bezier(0.4,0,0.2,1), -webkit-clip-path 1.2s cubic-bezier(0.4,0,0.2,1), transform 1.2s cubic-bezier(0.4,0,0.2,1);
                        &.view {
                            clip-path: inset(0 0 0 0);
                            transform: scale(1);
                        }
                    }
                }
                div {
                    margin-top: 10px;
                    font-family: var(--font2);
                    position: relative;
                    z-index: 11;
                    font-weight: 700;
                    font-size: 16px;
                    text-transform: uppercase;
                    overflow: hidden;
                    position: relative;
                    span.transform {
                      display: block;
                      transform: translateY(100%) rotate(5deg);
                      transform-origin: left;
                      will-change: transform;
                      span {
                        font-style: italic;
                        }
                    }
                }
            }
        }
    }
}