.responsive-mockups {
  .mockups-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 90px;
    padding: 0 15%;
    .column {
      width: calc(50% - 90px / 2);
      display: flex;
      flex-direction: column;
      gap: 5.5rem;
      &.right-column {
        margin-top: 11rem;
      }
      .mockup-wrapper {
        width: 100%;
        .image-wrapper {
          width: 100%;
          aspect-ratio: 100 / 110;
          position: relative;
          overflow: hidden;
          border-radius: 10px;
          transition: transform 0.75s cubic-bezier(0.4, 0, 0.2, 1);
          will-change: transform;
          .image-inner {
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            transition: transform 0.75s cubic-bezier(0.4, 0, 0.2, 1);
            will-change: transform;
          }
          img {
            position: absolute;
            left: -20px !important;
            top: 0px !important;
            object-fit: cover;
            width: calc(100% + 40px) !important;
            height: calc(100% + 40px) !important;
            will-change: transform;
          }
        }
      }
    }
  }
}
