.reviews {
    padding-bottom: 200px;
    position: relative;
    overflow: hidden;
    h2 {
        position: relative;
        overflow: hidden;
        span.word-wrapper {
            display: block;
            transform: translateY(100%) rotate(8deg);
            transform-origin: left;
        }
    }
    .reviews-wrapper {
        margin-top: 110px;
        .review {
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 30px 0;
            transition: opacity 0.7s cubic-bezier(0.4,0,0.2,1);
            z-index: 1111;
            //border-bottom: 2px solid var(--color2);
            &.active {
                z-index: 111;
            } 
            &.unactive {
                opacity: 0.3;
                z-index: 0;
            }
            span.line {
                width: 0%;
                height: 2px;
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: var(--color2);
            }
            &:hover {
                cursor: none;
                .quote {
                    opacity: 1; 
                    transform: translateY(0) rotate(0);
                }
            }
            .name-wrapper {
                position: relative;
                overflow: hidden;
                min-width: fit-content;
                width: 100%;
            }
            .name {
                font-size: 46px;
                font-weight: 500;
                min-width: fit-content;
                position: relative;
                z-index: 11;
                width: 100%;
                transform-origin: left;
                transform: translateY(100%) rotate(8deg);
            }
            .quote {
                position: relative;
                z-index: 11;
                width: 600px;
                max-width: 100%;
                min-width: 470px;
                margin-right: 70px;
                font-size: 16px;
                opacity: 0;
                will-change: opacity;
                transition: opacity 0.5s cubic-bezier(0.4,0,0.2,1), transform 0.5s cubic-bezier(0.4,0,0.2,1);
                font-weight: 500;
                transform-origin: left;
                transform: translateY(5px) rotate(2deg);
            }
            .arrow {
                min-width: 47px;
                width: 47px;
                height: 47px;
                position: relative;
                overflow: hidden;
                svg {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transition: 0s;
                    &.first {
                        opacity: 0;
                        transform: translateY(100%) translateX(-100%);
                    }
                    &.second {
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        transform: translateY(100%) translateX(-100%);
                    }
                }
            }
            &:hover {
                .arrow svg {
                    &.first {
                        opacity: 1;
                        transform: translateY(-50%) translateX(0);
                        transition: all .5s cubic-bezier(0.4,0,0.2,1);
                    }
                    &.second {
                        opacity: 0 !important;
                        transform: translateY(-100%) translateX(100%) !important;
                        transition: all .5s cubic-bezier(0.4,0,0.2,1) !important;
                    }
                }
            }
        }
    }
    @media (max-width: 992px) {
        .reviews-wrapper .review {
            flex-wrap: wrap;
            .quote {
                transform: none;
                opacity: 1;
                margin-top: 30px;
            }
            .arrow {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }
    }
    @media (max-width: 992px) {
        .reviews-wrapper {
            margin-top: 60px;
        }
    }
    @media (max-width: 468px) {
        .reviews-wrapper {
            margin-top: 45px;
            .review {
                flex-wrap: wrap;
                .quote {
                    min-width: inherit;
                    transform: none;
                    opacity: 1;
                    margin-top: 30px;
                    margin-right: 0;
                }
                .arrow {
                    position: relative;
                    top: inherit;
                    right: inherit;
                    transform: none;
                    margin: 30px 0 0 0;
                    min-width: 30px;
                    width: 30px;
                    height: 30px;
                    svg {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}