.testimonial {
  min-height: 90vh;
  display: flex;
  align-items: center;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .testimonial-content {
      width: calc(100% - 270px);
      > div {
        font-size: 46px;
        font-weight: 500;
        @media (min-width: 1780px) {
          font-size: 52px;
        }
        .line-wrapper {
          position: relative;
          overflow: hidden;
          display: block;
          .line {
            display: block;
            transform-origin: left;
            transform: translateY(100%) rotate(5deg);
            .word {
              white-space: pre;
            }
          }
        }
      }
    }
  }
  @media (max-width: 992px) {
    min-height: inherit;
    padding-bottom: 10rem;
    .quotes-icon svg {
      width: 70px;
      height: auto;
    }
    .container .testimonial-content {
      width: 100%;
      margin-top: 30px;
        > div {
        font-size: 36px;
        .line-wrapper .line {
           transform: translateY(0%) rotate(0);
           will-change: opacity;
        }
      }
    }
  }
  @media (max-width: 468px) {
    .container .testimonial-content {
      margin-top: 30px;
      > div {
        font-size: 26px;
      }
    }
    svg {
      width: 100px;
      height: auto;
    }
  }
}
