.text-separator {
    position: relative;
    overflow: hidden;
    font-family: var(--font2);
    //font-size: 260px;
    font-size: 11.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100vw;
    max-width: 100vw;
    .inner {
        display: flex;
        flex-wrap: nowrap;
        min-width: max-content;
        column-gap: 70px;
        transform: translateX(-160px);
    }
}