.tools {
    padding: 7.5rem 0;
    h2 {
        color: var(--color1);
        position: relative;
        overflow: hidden;
        display: block;
        width: fit-content;
        margin: 0 0 0 auto;
        span.word-wrapper {
            display: block;
            transform: translateY(100%) rotate(8deg);
            transform-origin: left;
        }
    }
    .dropdowns {
        margin-top: 120px;
        width: 1140px;
        max-width: 100%;
        .item {
            padding-bottom: 20px;
            //border-bottom: 2px solid var(--color1);
            opacity: 0.7;
            position: relative;
            will-change: opacity;
            transition: opacity 0.65s cubic-bezier(0.4,0,0.2,1);
            span.line {
                width: 0%;
                height: 2px;
                background-color: var(--color1);
                left: 0;
                bottom: 0;
                position: absolute;
            }
            + .item {
                margin-top: 30px;
            }
            &:not(.active) .item-content {
                height: 0px;
            }
            &:hover, &.active {
                opacity: 1;
            }
            &.active {
                .flex-content .cross .cross-inner {
                    transform: rotate(90deg) !important;
                    transition: transform 0.65s cubic-bezier(0.4,0,0.2,1);
                }

            }
            .flex-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                .item-title {
                    color: var(--color1);
                    font-size: 80px;
                    font-size: var(--fs-3);
                    font-family: var(--font2);
                    line-height: 1.25;
                    font-weight: 500;
                    position: relative;
                    overflow: hidden;
                    .item-title-inner {
                        transform-origin: left;
                        transform: translateY(100%) rotate(8deg);
                    }
                }
                .cross {
                    position: relative;
                    width: 51px;
                    height: 51px;
                    will-change: transform;
                    transition: transform 0.1s linear;
                    .cross-inner {
                        position: relative;
                        width: 51px;
                        height: 51px;
                        will-change: transform opacity;
                        transform: scale(0);
                        opacity: 0;
                    }
                    span {
                        position: absolute;
                        display: block;
                        background-color: var(--color1);
                        &:first-child {
                            top: 50%;
                            transform: translateY(-50%);
                            width: 51px;
                            height: 1px;
                        }
                        &:nth-child(2) {
                            left: 50%;
                            transform: translateX(-50%);
                            height: 51px;
                            width: 1px;
                        }
                    }
                }
            }
            .item-content {
                color: var(--color1);
                opacity: 0.7;
                font-size: 20px;
                //height: 0px;
                position: relative;
                height: 0;
                overflow: hidden;
                will-change: height;
                width: 800px;
                max-width: 100%;
                .content-inner {
                    padding-top: 30px;
                    display: block;
                    // opacity géré par GSAP sur les mots

                    .line-child {
                        will-change: transform;
                    }
                }
                @media (min-width: 1780px) {
                    font-size: 24px;
                }
            }
        }
    }
    @media (max-width: 992px) {
        .svg-wrapper {
            display: none;
        }
    }
    @media (max-width: 468px) {
        padding-bottom: 0;
        h2 {
            margin-top: 45px;
            margin-bottom: 0;
        }
        .dropdowns {
            margin-top: 75px;
            .item .flex-content {
                .item-title {
                    font-size: var(--fs-3-sm);
                }
                .cross {
                    width: 31px;
                    height: 31px;
                    .cross-inner {
                        width: 31px;
                        height: 31px;
                        span {
                            &:first-child {
                                width: 31px;
                            }
                            &:nth-child(2) {
                                height: 31px;
                            }
                        }
                    }
                }
            } 
        }
    }
}