footer {
    display: none;
    //padding: 312px 0 30px;
    //transform: translateY(200px);
    padding: 0 0 30px;
    background-color: var(--color2);
    min-height: 100vh;
    color: var(--color1);
    position: sticky;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    z-index: 0;
    .wrapper{ 
        width:150%;
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
        top: 156px;
        height:312px;
        overflow:hidden;
        @supports (-webkit-hyphens: none) and (not (-moz-appearance: none)) {
            transform: translate(-50%, -50%) !important;
        }
        .boxes {
            position:relative;
            left:-1970px;
            height: 312px;
            .box {
                position:absolute;
                width: 1970px;
                height:312px;
                font-family: var(--font2);
                font-weight: 400;
                color: var(--color1);
                font-size:260px;
                text-align:center;
            }
        }
      }
      .canvas-wrapper {
        position: relative;
        overflow: hidden;
        width: 100%;
        //height: 360px;
        flex: 1;
        transform: translateY(15px);
        canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            pointer-events: none;
        }
    }
    .flex-wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 45px;
        position: relative;
        span.line {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($color: #FCFBF6, $alpha: 0.5);
            width: 0%;
            height: 1px;
        }
        div:not(.socials), .socials a {
            opacity: 0.7;
            font-size: 16px;
        }
        .socials {
            display: flex;
            column-gap: 15px;
            a {
                transition: 0.35s opacity cubic-bezier(0.4, 0, 0.2, 1);
                will-change: opacity;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    @media (max-width: 992px) {
        opacity: 0;
    }
    @media (max-width: 468px) {
        .flex-wrapper {
            flex-direction: column;
            row-gap: 15px;
        }
        .wrapper{ 
            top: 156px;
            height:125px;
            .boxes {
                left:-740px;
                height: 125px;
                .box {
                    width: 740px;
                    height:125px;
                    font-size:100px;
                    text-align:center;
                }
            }
        }
    }
}