.magnetic-cta {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 1rem 2rem;
    background: var(--color2);
    color: var(--color1);
    font-family: var(--font2);
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: none;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    max-width: fit-content;

    @media (max-width: 992px) {
        cursor: pointer;
    }

    &.lg {
        padding: 16px 40px; // Similaire à .mobile-nav-cta
        font-size: 30px;
        
        .arrow {
            width: 22px;
            height: 22px;
            
            svg {
                width: 22px;
                height: 22px;
            }
        }
    }



    &:active {
        transform: translateY(-2px);
    }

    .magnetic-text {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        gap: 10px;

        .text-roller-mask {
            position: relative;
            overflow: hidden;
            height: 1em; 
            display: inline-block;
            line-height: 1;
            
            .text-roller-inner {
                display: flex;
                flex-direction: column;
                will-change: transform;
                // transition supprimée
                
                span {
                   display: block; 
                   white-space: nowrap; // évite le wrap si espace serré
                }
            }
        }
    }

    .arrow {
        width: 12px;
        height: 12px;
        position: relative;
        overflow: hidden;
        display: inline-block;
        
        svg {
            position: absolute;
            right: 0;
            top: 50%;
            // transition supprimée
            width: 12px;
            height: 12px;
            
            &.first {
                transform: translateY(-50%) translateX(0);
            }
            &.second {
                transform: translateY(100%) translateX(-100%);
            }
        }
    }
}
