header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 15px 0;
    mix-blend-mode: difference;
    z-index: 1111;
    background-color: black;
    isolation: isolate;
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        overflow: hidden;
        .logo,
        .contact-link { /* ton élément à cacher */
        transform: translateY(100%);
        opacity: 0;
        }
        overflow: hidden;
        .logo {
            font-family: var(--font2);
            font-weight: 500;
            font-size: 22px;
            color: var(--color1);
            @media (min-width: 1780px) {
                font-size: 26px;
            }
            &.no-interaction {
                pointer-events: none;
            }
            span {
                display: inline-block;
                transition: transform 0.1s linear;
            }
            &.hover-this:hover ~ .cursor {
                transform: translate(-50%, -50%) scale(0.4);
                cursor: auto;
            }
        }
        .contact-link {
            display: flex;
            align-items: center;
            span {
                display: inline-block;
                font-family: var(--font2);
                font-weight: 500;
                text-transform: uppercase;
                color: var(--color1);
                transition: transform 0.1s linear;
                font-size: 16px;
                line-height: 1.5;
                @media (min-width: 1780px) {
                    font-size: 20px;
                }
            }
            &.hover-this:hover ~ .cursor {
                transform: translate(-50%, -50%) scale(0.4);
                cursor: auto;
            }
        }
        .cursor {
            position: fixed;
            pointer-events: none;
            border-radius: 50%;
            mix-blend-mode: difference;
            background-color: #fff;
            padding: 3px;
            display: none;
            width: 140px;
            height: 140px;
            transform: translate(-50%, -50%) scale(0.04);
            transition: transform 0.5s cubic-bezier(0.4,0,0.2,1);
            &.hovering-header {
                display: block;
            }
            /* Dans votre fichier CSS (par exemple, cursor.scss) */
            @media (max-width: 992px) {
                display: none !important;
                &.cursor-presentation {
                display: none !important;
                }
            }
        }    
    }
    @media (max-width: 992px) {
        background-color: var(--color1);
        mix-blend-mode: normal;
        nav {
            .logo, .contact-link span {
                color: var(--color2);
            }
        }
    }
}