/* styles/fonts.css */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
 */
@font-face {
  font-family: "silkaregular";
  src: url("../fonts/silka-regular-webfont.eot");
  src: url("../fonts/silka-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/silka-regular-webfont.woff2") format("woff2"), url("../fonts/silka-regular-webfont.woff") format("woff"), url("../fonts/silka-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  descent-override: 20%;
}
@font-face {
  font-family: "silkaitalic";
  src: url("../fonts/silka-regularitalic-webfont.eot");
  src: url("../fonts/silka-regularitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/silka-regularitalic-webfont.woff2") format("woff2"), url("../fonts/silka-regularitalic-webfont.woff") format("woff"), url("../fonts/silka-regularitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  descent-override: 20%;
}
@font-face {
  font-family: "Anderson Grotesk";
  src: url("../fonts/anderson-grotesk/AndersonGroteskLightOblique.eot");
  src: url("../fonts/anderson-grotesk/AndersonGroteskLightOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/anderson-grotesk/AndersonGroteskLightOblique.woff2") format("woff2"), url("../fonts/anderson-grotesk/AndersonGroteskLightOblique.woff") format("woff"), url("../fonts/anderson-grotesk/AndersonGroteskLightOblique.ttf") format("truetype"), url("../fonts/anderson-grotesk/AndersonGroteskLightOblique.svg#AndersonGroteskLightOblique") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  descent-override: 20%;
}
@font-face {
  font-family: "Anderson Grotesk";
  src: url("../fonts/anderson-grotesk/AndersonGroteskBoldOblique.eot");
  src: url("../fonts/anderson-grotesk/AndersonGroteskBoldOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/anderson-grotesk/AndersonGroteskBoldOblique.woff2") format("woff2"), url("../fonts/anderson-grotesk/AndersonGroteskBoldOblique.woff") format("woff"), url("../fonts/anderson-grotesk/AndersonGroteskBoldOblique.ttf") format("truetype"), url("../fonts/anderson-grotesk/AndersonGroteskBoldOblique.svg#AndersonGroteskBoldOblique") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Anderson Grotesk";
  src: url("../fonts/anderson-grotesk/AndersonGroteskLight.eot");
  src: url("../fonts/anderson-grotesk/AndersonGroteskLight.eot?#iefix") format("embedded-opentype"), url("../fonts/anderson-grotesk/AndersonGroteskLight.woff2") format("woff2"), url("../fonts/anderson-grotesk/AndersonGroteskLight.woff") format("woff"), url("../fonts/anderson-grotesk/AndersonGroteskLight.ttf") format("truetype"), url("../fonts/anderson-grotesk/AndersonGroteskLight.svg#AndersonGroteskLight") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  descent-override: 20%;
}
@font-face {
  font-family: "Anderson Grotesk";
  src: url("../fonts/anderson-grotesk/AndersonGroteskUltrabold.eot");
  src: url("../fonts/anderson-grotesk/AndersonGroteskUltrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/anderson-grotesk/AndersonGroteskUltrabold.woff2") format("woff2"), url("../fonts/anderson-grotesk/AndersonGroteskUltrabold.woff") format("woff"), url("../fonts/anderson-grotesk/AndersonGroteskUltrabold.ttf") format("truetype"), url("../fonts/anderson-grotesk/AndersonGroteskUltrabold.svg#AndersonGroteskUltrabold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  descent-override: 20%;
}
@font-face {
  font-family: "Anderson Grotesk";
  src: url("../fonts/anderson-grotesk/AndersonGroteskBold.eot");
  src: url("../fonts/anderson-grotesk/AndersonGroteskBold.eot?#iefix") format("embedded-opentype"), url("../fonts/anderson-grotesk/AndersonGroteskBold.woff2") format("woff2"), url("../fonts/anderson-grotesk/AndersonGroteskBold.woff") format("woff"), url("../fonts/anderson-grotesk/AndersonGroteskBold.ttf") format("truetype"), url("../fonts/anderson-grotesk/AndersonGroteskBold.svg#AndersonGroteskBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  descent-override: 20%;
}
@font-face {
  font-family: "Anderson Grotesk";
  src: url("../fonts/anderson-grotesk/AndersonGroteskOblique.eot");
  src: url("../fonts/anderson-grotesk/AndersonGroteskOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/anderson-grotesk/AndersonGroteskOblique.woff2") format("woff2"), url("../fonts/anderson-grotesk/AndersonGroteskOblique.woff") format("woff"), url("../fonts/anderson-grotesk/AndersonGroteskOblique.ttf") format("truetype"), url("../fonts/anderson-grotesk/AndersonGroteskOblique.svg#AndersonGroteskOblique") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  descent-override: 20%;
}
@font-face {
  font-family: "Anderson Grotesk";
  src: url("../fonts/anderson-grotesk/AndersonGroteskRegular.eot");
  src: url("../fonts/anderson-grotesk/AndersonGroteskRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/anderson-grotesk/AndersonGroteskRegular.woff2") format("woff2"), url("../fonts/anderson-grotesk/AndersonGroteskRegular.woff") format("woff"), url("../fonts/anderson-grotesk/AndersonGroteskRegular.ttf") format("truetype"), url("../fonts/anderson-grotesk/AndersonGroteskRegular.svg#AndersonGroteskRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  descent-override: 20%;
}
@font-face {
  font-family: "Anderson Grotesk";
  src: url("../fonts/anderson-grotesk/AndersonGroteskUltraOblique.eot");
  src: url("../fonts/anderson-grotesk/AndersonGroteskUltraOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/anderson-grotesk/AndersonGroteskUltraOblique.woff2") format("woff2"), url("../fonts/anderson-grotesk/AndersonGroteskUltraOblique.woff") format("woff"), url("../fonts/anderson-grotesk/AndersonGroteskUltraOblique.ttf") format("truetype"), url("../fonts/anderson-grotesk/AndersonGroteskUltraOblique.svg#AndersonGroteskUltraOblique") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  descent-override: 20%;
}
@font-face {
  font-family: "GeneralSans";
  src: url("../fonts/general-sans/GeneralSans-Extralight.woff2") format("woff2"), url("../fonts/general-sans/GeneralSans-Extralight.woff") format("woff"), url("../fonts/general-sans/GeneralSans-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url("../fonts/general-sans/GeneralSans-ExtralightItalic.woff2") format("woff2"), url("../fonts/general-sans/GeneralSans-ExtralightItalic.woff") format("woff"), url("../fonts/general-sans/GeneralSans-ExtralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans";
  src: url("../fonts/general-sans/GeneralSans-Light.woff2") format("woff2"), url("../fonts/general-sans/GeneralSans-Light.woff") format("woff"), url("../fonts/general-sans/GeneralSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url("../fonts/general-sans/GeneralSans-LightItalic.woff2") format("woff2"), url("../fonts/general-sans/GeneralSans-LightItalic.woff") format("woff"), url("../fonts/general-sans/GeneralSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans";
  src: url("../fonts/general-sans/GeneralSans-Regular.woff2") format("woff2"), url("../fonts/general-sans/GeneralSans-Regular.woff") format("woff"), url("../fonts/general-sans/GeneralSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url("../fonts/general-sans/GeneralSans-Italic.woff2") format("woff2"), url("../fonts/general-sans/GeneralSans-Italic.woff") format("woff"), url("../fonts/general-sans/GeneralSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans";
  src: url("../fonts/general-sans/GeneralSans-Medium.woff2") format("woff2"), url("../fonts/general-sans/GeneralSans-Medium.woff") format("woff"), url("../fonts/general-sans/GeneralSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url("../fonts/general-sans/GeneralSans-MediumItalic.woff2") format("woff2"), url("../fonts/general-sans/GeneralSans-MediumItalic.woff") format("woff"), url("../fonts/general-sans/GeneralSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans";
  src: url("../fonts/general-sans/GeneralSans-Semibold.woff2") format("woff2"), url("../fonts/general-sans/GeneralSans-Semibold.woff") format("woff"), url("../fonts/general-sans/GeneralSans-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url("../fonts/general-sans/GeneralSans-SemiboldItalic.woff2") format("woff2"), url("../fonts/general-sans/GeneralSans-SemiboldItalic.woff") format("woff"), url("../fonts/general-sans/GeneralSans-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "GeneralSans";
  src: url("../fonts/general-sans/GeneralSans-Bold.woff2") format("woff2"), url("../fonts/general-sans/GeneralSans-Bold.woff") format("woff"), url("../fonts/general-sans/GeneralSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans";
  src: url("../fonts/general-sans/GeneralSans-BoldItalic.woff2") format("woff2"), url("../fonts/general-sans/GeneralSans-BoldItalic.woff") format("woff"), url("../fonts/general-sans/GeneralSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 700.0;
*
* available axes:
'wght' (range from 200.0 to 700.0
*/
@font-face {
  font-family: "GeneralSans";
  src: url("../fonts/general-sans/GeneralSans-Variable.woff2") format("woff2"), url("../fonts/general-sans/GeneralSans-Variable.woff") format("woff"), url("../fonts/general-sans/GeneralSans-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 700.0;
*
* available axes:
'wght' (range from 200.0 to 700.0
*/
@font-face {
  font-family: "GeneralSans";
  src: url("../fonts/general-sans/GeneralSans-VariableItalic.woff2") format("woff2"), url("../fonts/general-sans/GeneralSans-VariableItalic.woff") format("woff"), url("../fonts/general-sans/GeneralSans-VariableItalic.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: italic;
}
/*# sourceMappingURL=fonts.css.map */